﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Raygun.io Test</h1>
</div>

<div class="row body-content">
    <p><a href="/api/ThrowException" class="btn btn-warning">Throw Unhandled Exception</a></p>    
</div>
<div class="row body-content">
    <p><a href="/api/CustomException" class="btn btn-warning">Send Custom Exception</a></p>
</div>
<div class="row body-content">
    <p><a href="/api/UniqueException" class="btn btn-warning">Send Unique Exception</a></p>
</div>
